codegen==1.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.10.4
django-toolbelt==0.0.1
gunicorn==19.7.1
oauthlib==2.0.1
olefile==0.43
patterns==0.3
Pillow==4.0.0
psycopg2==2.7.1
PyJWT==1.4.2
python-openid==2.2.5
python-social-auth==0.2.21
pytz==2016.10
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
static3==0.7.0
virtualenv==15.1.0
whitenoise==3.2.2
