{% extends 'sentence/background.html' %}
{% load staticfiles %}
{% block content1 %}

<!-- Inputfield and Post modal -->
<div class="inputfield-container">
    <section>
        <div class="row">
            <form method = "POST" action="/sentence_post/" name="sentence_post">
                {% csrf_token %}
                {{ form.as_p }}          
              <div class="col-md-6 fields">
                  <label for="input">What do you want to say today?</label>
                  <input id="input" type='text' name='sentence'></input>
                  <input type="text" name="language" placeholder="#language" />
                  <!-- {{ form.sentence_post.errors }} -->
              </div>
              <div class="col-md-6 postbtn">
                  <input type="submit" name="sentence_submit" type="button" class="btn btn-default navbar-btn" id="post-btn" value="POST"></input> 
                  <!-- <button type="button" class="btn btn-default navbar-btn" id="post-btn" data-toggle="modal" name="sentence_post">POST</button>  -->
              </div>
            </form>
        </div>
    </section>
</div>

        <!-- Post Modal -->
                      <div class="modal fade" id="post-modal" role="dialog">
                          <div class="modal-dialog">
                              <div id="post-box">
                                  <div class="top" style="padding: 15px;">
                                      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                                  </div>

                                  <div class="postbox-content">
                                      <h2>Hash tag your language</h2>

                                      <input type="text" name="language" placeholder="#language" />
                                      <!-- <input type="submit" name="post_submit" value="Submit" /> -->
                                      <a ><input type="submit" name="post_submit" value="Submit"/></a>
                                  </div>

                              </div>

                          </div>
                      </div>
                      

{% endblock content1 %}

{% block content2 %}

<!-- Post list -->
<div class="postcard-container">
    <a href="/sentence">
        <div class="card card-1"></div>
    </a>
    <a href="/sentence">
        <div class="card card-1"></div>
    </a>
    <a href="/sentence">
        <div class="card card-1"></div>
    </a>
    <a href="/sentence">
        <div class="card card-1"></div>
    </a>
    <a href="/sentence">
        <div class="card card-1"></div>
    </a>
    <a href="/sentence">
        <div class="card card-1"></div>
    </a>
    <a href="/sentence">
        <div class="card card-1"></div>
    </a>
    <a href="/sentence">
        <div class="card card-1"></div>
    </a>
</div>

{% endblock content2 %}