{% extends 'sentence/background_afterlogin.html' %}
{% load staticfiles %}
{% load tz %}
{% block content1 %}

<!-- Inputfield and Post modal -->
<div class="inputfield-container">
    <section>
        <div class="row">
           
            <div class="col-md-12 fields" id="post-btn" data-toggle="modal">
                <label for="input">What do you want to say today?</label>
                <input id="input" type='text'></input>
            </div>

        </div>
            
    </section>
</div> <!-- end inputfield-container -->

            <!-- Post Modal -->
            <div class="modal fade" id="post-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="post-box sentence">
                        <div class="top" style="padding: 15px;">
                            <button type="button" class="close" data-dismiss="modal" style="outline: 0;"><i class="fa fa-times"></i></button>
                        </div>

                        <div class="postbox-content">
                        
                          <form method = "POST" action="/sentence_post/">
                              {% csrf_token %}
                              {{ form.as_p }}

                              <h2>DAILY POST</h2>

                                <i class="fa fa-pencil" style="color:#00CCCC;"></i>&emsp;<font color="#00CCCC">SENTENCE</font>
                                <input id="input" type='text' name='sentence' placeholder="No more than 50 words"></input>
                                
                                <i class="fa fa-tag" style="color:#00CCCC;"></i>&emsp;<font color="#00CCCC">LANGUAGE</font>
                                <input type="text" name="language" placeholder="Type the language (English only)"/>

                                <i class="fa fa-tag" style="color:#00CCCC;"></i>&emsp;<font color="#00CCCC">HASH TAG KEYWORDS</font>
                                <input type="text" name="topic" placeholder="#Keywords (Optional)" />

                                <i class="fa fa-external-link" style="color:#00CCCC;"></i>&emsp;<font color="#00CCCC">RELATIVE LINK</font>
                                <input type='text' id="link" name='link' placeholder="Paste Link (Optional)"></input>
                                <div id="show_link"></div>

                                <input id="post-submit" type="submit" name="post_submit" value="Submit" />
                              

                          </form>

                        </div>

                    </div>

                </div>
            </div>
            <!-- end Post Modal -->  

{% endblock content1 %}

{% block content2 %}

<div class="index-wrapper">

<!-- New Sentence -->
      <div class="index-title newtitle">
        <div class="index-title-word">New</div>
        <div class="index-title-word">Sentence</div>
      </div>

      <div class="index-content">
        <!-- Post list -->
        <div class="postcard-container">
        {% for surl in sentence_content %}
            <a href="{% url 'sentence_url' sid=surl.SID%}">
                <div class="card card-1 new">
                  <div class="postcard-content new">{{surl.Content}}</div>
                  <div class="postcard-btn new">
                    <span class="posttime">{{surl.Date|timezone:"Asia/Taipei"}}</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <button class="like"><i class="fa fa-heart"></i>&ensp;<span class="postcount heart">{{surl.Likes}}</span></button>
          {% endfor %}

            <!-- <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST1</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST2</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST3</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST4</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST5</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST6</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST7</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST8</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST9</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST10</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST11</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 new">
                  <div class="postcard-content new">POST12</div>
                  <div class="postcard-btn new">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a> -->
        </div> <!-- end postcard-container -->
      </div> <!-- end index-content -->



<!-- Popular Sentence -->
      <div class="index-title poputitle">
        <div class="index-title-word">Popular</div>
        <div class="index-title-word">Sentence</div>
      </div>

      <div class="index-content">
        <!-- Post list -->
        <div class="postcard-container">
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST1</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST2</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST3</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST4</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST5</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST6</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST7</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST8</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST9</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST10</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST11</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
            <a href="/sentence">
                <div class="card card-1 popu">
                  <div class="postcard-content popu">POST12</div>
                  <div class="postcard-btn popu">
                    <span class="posttime">2017/01/01 00:00</span>
                    &emsp;
                    <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">0</span>
                    &emsp;
                    <i class="fa fa-heart"></i>&ensp;<span class="postcount heart">0</span>
                  </div>
                </div>
            </a>
        </div> <!-- end postcard-container -->
      </div> <!-- end index-content -->
    
</div> <!-- end index-wrapper -->

{% endblock content2 %}
