{% extends 'sentence/background.html' %}
{% load staticfiles %}
{% block content1 %}

<!-- Inputfield and Post modal -->
<div class="inputfield-container">
    <section>
        <div class="row">
           
            <div class="col-md-12 fields" id="post-btn" data-toggle="modal">
                <label for="input">What do you want to say today?</label>
                <input id="input" type='text'></input>
            </div>

        </div>
        
        <!-- <span class="postbtn"><button type="button" class="btn btn-default navbar-btn" >POST</button></span> -->
            
    </section>
</div>

        <!-- Post Modal -->
                      <div class="modal fade" id="post-modal" role="dialog">
                          <div class="modal-dialog">
                              <div id="post-box">
                                  <div class="top" style="padding: 15px;">
                                      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                                  </div>

                                  <div class="postbox-content">
                                  
                                  <form method = "POST" action="/sentence_post/" name="sentence_post">
                                      {% csrf_token %}
                                      {{ form.as_p }}

                                      <h2>POST</h2>
                                      <input id="input" type='text' name='sentence' placeholder="What do you want to say today?"></input>
                                      <input type="text" name="language" placeholder="#Language"/>
                                      <input type='text' name='link' placeholder="Paste Link (Optional)"></input>
                                      <input type="text" name="topic" placeholder="#Topic Keyword (Optional)" />

                                      <a href="/post_world"><input type="submit" name="post_submit" value="Submit" /></a>

                                  </form>

                                  </div>

                              </div>

                          </div>
                      </div>
                      

{% endblock content1 %}

{% block content2 %}

<div class="row">
  <div class="col-xs-3">
    <a href="#">Daily Topic</a>
    <a href="#">Daily Sentence</a>
  </div>
  <div class="col-xs-9">
    <!-- Post list -->
    <div class="postcard-container">
        <a href="/sentence">
            <div class="card card-1">POST1</div>

        </a>
        <a href="/sentence">
            <div class="card card-1">POST2</div>
        </a>
        <a href="/sentence">
            <div class="card card-1">POST3</div>
        </a>
        <a href="/sentence">
            <div class="card card-1">POST4</div>
        </a>
        <a href="/sentence">
            <div class="card card-1">POST5</div>
        </a>
        <a href="/sentence">
            <div class="card card-1">POST6</div>
        </a>
        <a href="/sentence">
            <div class="card card-1">POST7</div>
        </a>
        <a href="/sentence">
            <div class="card card-1">POST8</div>
        </a>
        <a href="/sentence">
            <div class="card card-1">POST9</div>
        </a>
        <a href="/sentence">
            <div class="card card-1">POST10</div>
        </a>
    </div>
  </div>
</div>

{% endblock content2 %}