{% extends extend_index %}
{% load staticfiles %}
{% load tz %}

{% block content1 %}

{% if searchtype == "new" %}
<div class="index-title newtitle searchcontent">
	<div class="index-title-word">New Sentence</div>
</div>
<div class="container-fluid searchcontent" id="scrollpage">
	<div class="row">
		{% for surl in sentence_content_date %}
		<div class="col-sm-5">
			<a href="{% url 'sentence_url' sid=surl.SID%}">
			    <div class="card card-1 newmore">
			      <div class="postcard-content newmore">{{surl.Content}}</div>
			      <div class="postcard-btn new">
			        <div class="postinfo translatecount">
			        	<span class="postcount translate"><i class="fa fa-language"></i>&emsp;{{ surl.Translation_count }}</span>
			        </div>
			        <div class="postinfo">
				        <span class="posttime">{{surl.Date|timezone:"Asia/Taipei"}}</span>
				        <span>|</span>
				        <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">{{ surl.Views }}</span>
				        &ensp;
				        <a><button class="cardheart" data-post-id="{{ surl.SID }}"><i class="fa fa-heart"></i>&ensp;<span class="postcount heart like_{{ surl.SID }}">{{ surl.Likes }}</span></button></a>
				    </div>
			      </div>
			    </div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% elif searchtype == "popu" %}
<div class="index-title poputitle searchcontent" id="scrollpage">
	<div class="index-title-word">Popular Sentence</div>
</div>
<div class="container-fluid searchcontent">
	<div class="row">
		{% for surl in sentence_content_date %}
		<div class="col-sm-5">
			<a href="{% url 'sentence_url' sid=surl.SID%}">
			    <div class="card card-1 newmore">
			      <div class="postcard-content newmore">{{surl.Content}}</div>
			      <div class="postcard-btn popu">
			        <div class="postinfo translatecount">
			        	<span class="postcount translate"><i class="fa fa-language"></i>&emsp;{{ surl.Translation_count }}</span>
			        </div>
			        <div class="postinfo">
				        <span class="posttime">{{surl.Date|timezone:"Asia/Taipei"}}</span>
				        <span>|</span>
				        <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">{{ surl.Views }}</span>
				        &ensp;
				        <a><button class="cardheart" data-post-id="{{ surl.SID }}"><i class="fa fa-heart"></i>&ensp;<span class="postcount heart like_{{ surl.SID }}">{{ surl.Likes }}</span></button></a>
				    </div>
			      </div>
			    </div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}



{% endblock content1 %}