{% extends extend_index %}
{% load staticfiles %}
{% load tz %}

{% block content1 %}

{% if username %}

<!-- Inputfield and Post modal -->
{% if username %}
<div class="inputfield-container">
    <section>
        <div class="row">
            <div class="col-md-12 fields" id="post-btn" data-toggle="modal">
                <label for="input">I want to translate this sentence</label>
                <input id="input" type='text'></input>
            </div>
          {% if sentence_content.TopicID %}
            {{ sentence_content.TopicID.Topic_tag }}
          {% endif %}
        </div>
    </section>
</div> <!-- end inputfield-container -->
{% endif %}
            <!-- Post Modal -->
            <div class="modal fade" id="post-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="post-box translation">
                        <div class="top" style="padding: 15px;">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        </div>

                        <div class="postbox-content">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <h2>DAILY TRANSLATION</h2>

                            <div class="modal-sentence">
                                <span class="modalSentence-content" class="text-center">{{ sentence_content.Content }}</span>
                            </div>

                            <i class="fa fa-language" style="color:#00CCCC;"></i>&emsp;<font color="#00CCCC">TRANSLATION</font>
                            <input id="input" type='text' name="translation" placeholder="With another language"></input>
                            
                            <i class="fa fa-tag" style="color:#00CCCC;"></i>&emsp;<font color="#00CCCC">LANGUAGE</font>
                            <input type="text" name="translation_tag" placeholder="Type the language (English only)"/>

                            <input id="post-submit" type="submit" name="post_submit" value="Submit" />
                            
                        </div>

                    </div>

                </div>
            </div>

<!-- Sentence posts in one country -->
<div class="map-container-fluid map-content">
    <div class="map-block">    
        <div class="sentenceInfo language">
            <span id="float-language" class="">{{ sentence_content.Sentence_tag }}</span>
        </div>
        <div class="sentenceInfo sentence">
            <span id="float-sentence" class="text-center">{{ sentence_content.Content }}</span>
        </div>
        <div class="sentenceInfo rightbtn">
            <!-- Like / Share -->
            <button type="button" class="btn heartbtn btn-default navbar-btn" data-post-id="{{ sentence_content.SID }}"><i class="fa fa-heart"></i><span class="postcount heart like_{{ sentence_content.SID }}">&ensp;Like&ensp;{{ sentence_content.Likes }}</span></button>
            
            <button type="button" class="btn starbtn btn-default navbar-btn" data-post-id="{{ sentence_content.SID }}"><i class="fa fa-star"></i><span class="collect_{{ sentence_content.SID }}">&ensp;Star&ensp;{{ collected }}</span></button>
            
            <button type="button" data-post-id="{{ sentence_content.SID }}" class="btn sharebtn btn-default navbar-btn"><i class="fa fa-facebook"></i>&ensp;Share</button>
        </div>

        <div id="vmap" style="width: 100vw; height: 100vh;">
        </div> <!-- end vmap -->

    </div> <!-- end map-block -->
</div> <!-- end map-container-fluid map-content -->

{% else %}

<!-- Sentence posts in one country -->
<div class="map-container-fluid map-content">
    <div class="map-block">    
        <div class="sentenceInfo language">
            <span id="float-language" class="">{{ sentence_content.Sentence_tag }}</span>
        </div>
        <div class="sentenceInfo sentence">
            <span id="float-sentence" class="text-center">{{ sentence_content.Content }}</span>
        </div>
        <div class="sentenceInfo rightbtn">
            <!-- Like / Share -->
            <button type="button" class="btn heartbtn btn-default navbar-btn" data-post-id="{{ sentence_content.SID }}"><i class="fa fa-heart"></i><span class="postcount heart like_{{ sentence_content.SID }}">&ensp;Like&ensp;{{ sentence_content.Likes }}</span></button>
            
            <button type="button" class="btn starbtn btn-default navbar-btn" data-post-id="{{ sentence_content.SID }}"><i class="fa fa-star"></i><span class="collect_{{ sentence_content.SID }}">&ensp;Star&ensp;{{ collected }}</span></button>
            
            <button type="button" class="btn sharebtn btn-default navbar-btn"><i class="fa fa-facebook"></i>&ensp;Share</button>
        </div>

        <div id="vmap" style="width: 100vw; height: 100vh;">
        </div> <!-- end vmap -->

    </div> <!-- end map-block -->
</div> <!-- end map-container-fluid map-content -->

{% endif %}

{% endblock content1 %}

