{% extends extend_index %}
{% load staticfiles %}
{% load tz %}
{% block content1 %}

<!-- Inputfield and Post modal -->
<div class="inputfield-container">
    <section>
        <div class="row">
            <div class="col-md-12 fields" id="post-btn" data-toggle="modal">
                <label for="input">I want to translate this sentence</label>
                <input id="input" type='text'></input>
            </div>
          {% if sentence_content.TopicID %}
            {{ sentence_content.TopicID.Topic_tag }}
          {% endif %}
        </div>
</div> <!-- end inputfield-container -->

            <!-- Post Modal -->
            <div class="modal fade" id="post-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="post-box translation">
                        <div class="top" style="padding: 15px;">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        </div>

                        <div class="postbox-content">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <h2>DALIY TRANSLATION</h2>

                            <i class="fa fa-language" style="color:#00CCCC;"></i>&emsp;<font color="#00CCCC">TRANSLATION</font>
                            <input id="input" type='text' name="translation" placeholder="Translate this sentence with another language"></input>
                            
                            <i class="fa fa-tag" style="color:#00CCCC;"></i>&emsp;<font color="#00CCCC">LANGUAGE</font>
                            <input type="text" name="translation_tag" placeholder="Type the language (English only)"/>

                            <input type="submit" name="post_submit" value="Submit" />
                            
                        </div>

                    </div>

                </div>
            </div>

{% endblock content1 %}

{% block content2 %}

<!-- Overworld sentence posts and let user select country -->
<!-- <div class="map-container-fluid">
    <div class="row map-block ">
        <div id="vmap" style="width: 100vw; height: 100vh;">
            <div id="float-sentence" class="col-lg-6 col-lg-offset-5 text-center ">{{ sentence_content.Content }}</div>

        </div>
    </div>
</div> -->
<!-- Sentence posts in one country -->
<div class="map-container-fluid map-content">
    <div class="map-block">
        <div id="row">
        {% if username %}
          <button class="like" data-post-id="{{ sentence_content.SID }}"><i class="fa fa-heart"></i>&ensp;<span class="postcount heart like_{{ sentence_content.SID }}">{{ sentence_content.Likes }}</span></button>
          <button class="collect" data-post-id="{{ sentence_content.SID }}"><span class="collect_{{ sentence_content.SID }}">{{ collected }}</span></button>
        {% endif %}

          <span id="float-language" class="">{{ sentence_content.Sentence_tag }}</span>
          <span id="float-sentence" class="text-center" style="left:35vw; top:2vh;">{{ sentence_content.Content }}</span>
        </div>

        <div id="vmap" style="width: 100vw; height: 100vh;">

            <!-- <div style="position:absolute;">
                <div class="cards-block float row">
                    <div class="panel panel-default card-size col-lg-4">
                        <div class="panel-body">A Basic Panel</div>
                    </div>
                    <div class="panel panel-default card-size col-lg-4">
                        <div class="panel-body">A Basic Panel</div>
                    </div>
                    <div class="panel panel-default card-size col-lg-4">
                        <div class="panel-body">A Basic Panel</div>
                    </div>
                </div>
                <div class="cards-block float row">
                    <div class="panel panel-default card-size col-lg-4">
                        <div class="panel-body">Pen Pineapple Apple Pen </div>
                    </div>
                    <div class="panel panel-default card-size col-lg-4">
                        <div class="panel-body">Syuan is Pig</div>
                    </div>
                    <div class="panel panel-default card-size col-lg-4">
                        <div class="panel-body">An apple a day, keeps the doctor away</div>
                    </div>
                </div>
                <div class="cards-block float row">
                    <div class="panel panel-default card-size col-lg-4">
                        <div class="panel-body">Pen Pineapple Apple Pen </div>
                    </div>
                    <div class="panel panel-default card-size col-lg-4">
                        <div class="panel-body">Syuan is Pig</div>
                    </div>
                    <div class="panel panel-default card-size col-lg-4">
                        <div class="panel-body">An apple a day, keeps the doctor away</div>
                    </div>
                </div>
            </div> -->

        </div> <!-- end vmap -->
    </div> <!-- end map-block -->
</div> <!-- end map-container-fluid map-content -->

{% endblock content2 %}