{% load tz %}
  {% for t in translation %}
      <div class="card card-1 postshow">
          <div class="postshowcard-content">{{t.Content}}</div>
          <div class="postcard-btn show">
            <span class="posttime">{{t.Date|timezone:"Asia/Taipei"}}</span>
            <span>|</span>
            <i class="fa fa-eye"></i>&ensp;<span class="postcount eye">{{t.Views}}</span>
            &ensp;
            <a><button class="cardheart" data-post-id=""><i class="fa fa-heart"></i>&ensp;<span class="">{{t.Likes}}</span></button></a>
          </div>
      </div>
  {% endfor %}
