{% extends extend_index %}
{% load staticfiles %}
{% block content1 %}

<!-- User map and let user find friends to contact -->
<!--Introduction page-->
<div id="myIntro">
    <div class="row map-intro">
        <div class="col-lg-2 intro-img"> <img src="{{username.UserIcon}}"> </div>
        <div class="col-lg-6 my-profile">
            <h5>{{username.UserName}}</h5>
            <h5>LV. 0</h5>
            <h5>English</h5>
        </div>
    </div>
</div>

<canvas id="UserMap" width="2000" height="1000">Your browser does not support canvas element.</canvas>
<div class="FriendsList">
    <div class="row">
        <div class="col-sm-12">
            <font class="title friend">FRIEND LIST</font>
            {% for friend in friendlist %}
            <div class="row friend-panel">
                <div class="col-lg-2"> <img class="panel-title" src="{% static friend.Friend.UserIcon.url %}"> </div>
                <div class="col-lg-5 friend-name">
                    <h4>{{ friend.Friend.UserName }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--intro-->
<div class="intro" style="display: block;">
    
    <!--./passerby intro page-->
    <div role="dialog" class="modal fade" id="passerIntro">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BigV</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2 intro-img"> <img src="{% static 'images/whale.png' %}"> </div>
                        <div class="col-lg-6 user-profile">
                            <h5>LV.1</h5>
                            <h5>Gutten Tag</h5>
                            <h5>German,English</h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="bigV-message" onclick="CallMessage()" data-dismiss="modal">message</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">add</button>
                </div>
            </div>
        </div>
    </div>
    <!--./passerby intro page-->
</div>

<!--message-->
<div id="message-area"> </div>
<!--./message-->

{% endblock content1 %}

{% block content2 %}

<div style="margin-top: -500px;"></div>

{% endblock content2 %}