{% extends 'sentence/background_afterlogin.html' %}
{% load staticfiles %}
{% block content1 %}

<!-- User Achievement -->
<div id="wrapper">
    <ul class="nav navbar-nav side-nav">
        <div class="sidebar-menu">
            <a href="/user/profile"><button type="button" class="btn btn-default navbar-btn">User Profile</button></a>
            <a href="/user/account"><button type="button" class="btn btn-default navbar-btn">Accounts</button></a>
            <a href="/user/achievement"><button type="button" class="btn btn-default navbar-btn">Achievement</button></a>
            <a href="/user/history"><button type="button" class="btn btn-default navbar-btn">History</button></a>
        </div>
    </ul>


    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row achieve-panel">
                <div class="col-sm-3 achieve-panel">
                    <div class="row panel panel-default"> <img class="col-sm-3 panel-title " src="http://www.clipartkid.com/images/242/can-t-find-the-perfect-clip-art-3udwED-clipart.gif">
                        <h3 class="col-sm-6 achieve-panel">20 Setences</h3> </div>
                </div>
                <div class="col-sm-3 achieve-panel">
                    <div class="row panel panel-default"> <img class="col-sm-3 panel-title " src="http://www.clipartkid.com/images/242/can-t-find-the-perfect-clip-art-3udwED-clipart.gif">
                        <h3 class="col-sm-6 achieve-panel">Level 10</h3> </div>
                </div>
                <div class="col-sm-3 achieve-panel">
                    <div class="row panel panel-default"> <img class="col-sm-3 panel-title " src="http://www.clipartkid.com/images/242/can-t-find-the-perfect-clip-art-3udwED-clipart.gif">
                        <h3 class="col-sm-6 achieve-panel">Swim 30 Miles</h3> </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- /#wrapper -->

{% endblock content1 %}