{% extends 'sentence/userSidebar.html' %}
{% load staticfiles %}
{% block pagecontent1 %}

<!-- User Account -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="profiletitle account"><i class="fa fa-cog"></i>&emsp;ACCOUNT</div>
            <form role="form" class="profilecontent account">
                <div class="title account">NAME : </div>
                <div class="form-group input-group account">
                    <input type="text" class="form-control" value="{{username.UserName}}" disabled>
                    <span class="input-group-addon" style="padding:0 0 0 0;">
                        <a data-toggle="modal" data-target="#nameDialog" data-ref="dialog" data-role="button" class="btn btn-primary" id="pwd"><i class="fa fa-fw fa-pencil"></i></a>
                    </span>
                </div>
                <div class="title account">EMAIL : </div>
                <div class="form-group input-group account">
                    <span class="input-group-addon"><i class="fa fa-mail"></i>{{username.Email}}</span>
                </div>
                <div class="title account">PASSWORD : </div>
                <div class="form-group input-group account">
                    <input type="text" class="form-control" value="*********" disabled>
                    <span class="input-group-addon" style="padding:0 0 0 0;"><a  data-toggle="modal" data-target="#pswDialog" data-ref="dialog" data-role="button" class="btn btn-primary" id="pwd"><i class="fa fa-fw fa-pencil"></i></a></span>
                </div>
            </form>
        </div>
    </div> <!-- end row -->
</div> <!-- end container-fluid -->


<!--Modify nickname-->
<div role="dialog" class="modal fade" id="nameDialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nickname</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="New nickname">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--./Modify nickname-->

<!--Modify password-->
<div role="dialog" class="modal fade" id="pswDialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Password</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Old password">
                <input type="text" class="form-control" placeholder="New password">
                <input type="text" class="form-control" placeholder="Confirm password">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--./Modify password-->

{% endblock pagecontent1 %}