{% extends 'sentence/userSidebar.html' %}
{% load staticfiles %}
{% block pagecontent1 %}

<!-- User Achievement -->
<div class="container-fluid">
    <div class="row">
        <div class="profiletitle achievement"><i class="fa fa-trophy"></i>&emsp;ACHIEVEMENT</div>
        <div class="col-sm-4">
            
            {% for s in sentencemodel %}
            <div class="panel panel-default sentence">
                <div class="panel-body sentence achievement">
                    <font class="achievement-content sentence">{{s.Content}} Sentences</font>
                </div>
            </div>
            {% endfor %}
            {% for t in translationmodel %}
            <div class="panel panel-default translation">
                <div class="panel-body translation achievement">
                    <font class="achievement-content translation">{{t.Content}} Translations</font>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-4">
                
        </div>
    </div> <!-- end row -->
    
</div> <!-- end container-fluid -->

{% endblock pagecontent1 %}