{% extends 'sentence/userSidebar.html' %}
{% load staticfiles %}
{% load tz %}
{% block pagecontent1 %}

<!-- User History -->
<div class="container-fluid friends">
    <div class="profiletitle friends"><i class="fa fa-address-book"></i>&emsp;FRIENDS</div>
    <div class="row">
        {% for friend in friendlist %}
            <div class="col-sm-3">
                <div class="row friendlist-manage">
                    <div class="col-lg-2"> <img class="friend-pic" src="{{ friend.Friend.UserIcon.url }}"> </div>
                    <div class="col-lg-2 friend-name"> <h4>{{ friend.Friend.UserName }}</h4> </div>
                </div>
            </div>
        {% endfor %}
    </div> <!-- end row -->
</div> <!-- end container-fluid -->

{% endblock pagecontent1 %}