{% extends extend_index %}
{% load staticfiles %}
{% block content1 %}

<!-- User History -->
<div id="wrapper">

    <ul class="nav navbar-nav side-nav">
        <div class="sidebar-menu">
            <a href="/user/profile"><button type="button" class="btn btn-default navbar-btn">User Profile</button></a>
            <a href="/user/account"><button type="button" class="btn btn-default navbar-btn">Accounts</button></a>
            <a href="/user/achievement"><button type="button" class="btn btn-default navbar-btn">Achievement</button></a>
            <a href="/user/history"><button type="button" class="btn btn-default navbar-btn">History</button></a>
        </div>
    </ul>


    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                sentence
                {% for sentence in sentence_model %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ sentence.Date }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ sentence.Content }}
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="col-sm-4">
                translation
                {% for translation in translation_model %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ translation.Date }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ translation.Content }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
    </div>
    <!-- /#wrapper -->

{% endblock content1 %}