{% extends 'sentence/background_afterlogin.html' %}
{% load staticfiles %}
{% block content1 %}

<!-- User Profile -->
<div id="wrapper">

    <ul class="nav navbar-nav side-nav">
        <div class="sidebar-menu">
            <a href="/user/profile"><button type="button" class="btn btn-default navbar-btn">User Profile</button></a>
            <a href="/user/account"><button type="button" class="btn btn-default navbar-btn">Accounts</button></a>
            <a href="/user/achievement"><button type="button" class="btn btn-default navbar-btn">Achievement</button></a>
            <a href="/user/history"><button type="button" class="btn btn-default navbar-btn">History</button></a>
        </div>
    </ul>


    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        LV.10
                        <i class="fa fa-money" style="margin-left: 70%;font-size: 20px;">$100</i>
                    </h1>
                    <div class=".col-lg-2">
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5>EXP </h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5>USER PIC</h5>
                    <canvas id="icon-canvas">Your browser does not support canvas element.</canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="control">
                        <div class="paint-container">
                            <div class="control-box">
                                <div class="control-header">Toolkit</div>
                                <div id="tools" class="control-inner">
                                </div>
                            </div>
                            <!--
                             -->
                            <div class="control-box brush">
                                <div class="control-header">Brush Settings</div>
                                <div class="brush">
                                    <div class="control-inner">
                                        <div class="control-header" style="margin-top:10px!important">Size</div>
                                        <input id="brush" type="text" value="5" />
                                        <div class="control-header" style="margin-top:10px!important">Color</div>
                                        <input id="color" type="text" value="#00B16A" />
                                        <div class="control-header" style="margin-top:10px!important">Alpha</div>
                                        <input id="alpha" type="text" value="1.0" />
                                    </div>
                                </div>
                            </div>
                            <!--
                             -->
                            <div class="control-box palette">
                                <div class="control-header">Palette</div>
                                <div id="paints" class="control-inner">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--row-->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

{% endblock content1 %}