{% extends extend_index %}
{% load staticfiles %}
{% block content1 %}

<div id="wrapper">

    <ul class="nav navbar-nav side-nav sidebar">
        <div class="sidebar-menu">
            <div class="sidebar-icon"><img src="{{username.UserIcon}}"></div>
            <a href="/user/profile"><p><i class="fa fa-user"></i>&emsp;User Profile</p></a>
            <a href="/user/account"><p><i class="fa fa-cog"></i>&emsp;Accounts</p></a>
            <a href="/user/achievement"><p><i class="fa fa-trophy"></i>&emsp;Achievement</p></a>
            <a href="/user/collection"><p><i class="fa fa-star"></i>&emsp;Collection</p></a>
            <a href="/user/history"><p><i class="fa fa-history"></i>&emsp;History</p></a>
        </div>
    </ul>


    <div id="page-wrapper">
    	{% block pagecontent1 %} {% endblock pagecontent1 %}
    </div> <!-- end page-wrapper -->
</div> <!-- end wrapper -->

{% endblock content1 %}