canvas {
  background: 
    linear-gradient(
      hsl(200, 60%, 90%) 0%, 
      hsl(200, 40%, 100%) 75%)
  ;
  display: block;
  /*position: absolute;*/
}

.mountain {
  /*background: url(http://jackrugile.com/images/misc/skyline-texture.png);*/
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: -50px;
  overflow: hidden;
}