/*.index-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #e9edf1;
}*/

.index-wrapper {
  position:absolute;
  width:100vw;
/*  height:100vh; */
  overflow: hidden; 
  background-color: #fff;
}

.index-content {
  margin-left: 120px;
  margin-bottom: 60px;
  /*width:80%;*/
}

/*.index-interval {
  height: 50px;
}*/

.index-title {
  margin-left: 100px;
  margin-bottom: 30px;
  position: relative;
  -webkit-perspective: 400;
          perspective: 400;
  padding-left: 17px;
  /*font-family: Arial;*/
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
}


.index-title:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 6px;
  background: #00CCCC;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-animation: title-border-slide-in 0.35s ease-out forwards;
          animation: title-border-slide-in 0.35s ease-out forwards;
}
.index-title.newtitle:before {
  background:#FF997D;
}
.index-title.poputitle:before {
  background:#2188A0;
}

.index-title .index-title-word {
  opacity: 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.index-title .index-title-word:nth-child(1) {
  -webkit-animation: roll-in 0.15s 0s ease-out forwards;
          animation: roll-in 0.15s 0s ease-out forwards;
}
.index-title .index-title-word:nth-child(2) {
  -webkit-animation: roll-in 0.15s 0.175s ease-out forwards;
          animation: roll-in 0.15s 0.175s ease-out forwards;
}
.index-title .index-title-word:nth-child(3) {
  -webkit-animation: roll-in 0.15s 0.35s ease-out forwards;
          animation: roll-in 0.15s 0.35s ease-out forwards;
}
.index-title .index-title-word:nth-child(4) {
  -webkit-animation: roll-in 0.15s 0.525s ease-out forwards;
          animation: roll-in 0.15s 0.525s ease-out forwards;
}
@-webkit-keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}


/*.index-title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  color:#5e5e5e;
}

.index-slide {
  min-width: 4000px;
  display: block;
  transform: translateX(0);
  transition: transform .5s; 
}

.index-panel {
  width:100vw; 
  height:450px;
  float:left; 
}

#left{
  background: none;
  border: none;
  outline: 0;
  position:absolute;
  left: 0;
  bottom: 40%;
}
#right{
  background: none;
  border: none;
  outline: 0;
  position:absolute;
  right:0;
  bottom: 40%;
}


#left i, #right i {
  font-size: 70px;
  text-align: center;
  color:#00CCCC;
}*/



/*Postcard*/
.postcard-container {
  /*margin-top: 150px;*/
  position: relative;
  /*background-color: #e9edf1;*/
 /* transform:translateX(8%);*/
}

.postcard-container a {
  text-decoration: none;
}

.card {
  background: #f0f0f0;
  border-radius: 2px;
  display: inline-block;
  height: 120px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
  font-size: 18px;
  color: #095836;
  padding: 20px;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.postcard-content {
  margin-bottom: 40px;
  color: #000;
}

.postcard-btn i, .postcard-btn span {
  font-size: 14px;
}

.postcard-btn.new i, .postcard-btn.new span {
  color: #FF997D;
}

.postcard-btn.popu i, .postcard-btn.popu span {
  color: #2188A0;
}

/* smartphone 767 */
@media (max-width: 767px) {
  .postcard-container {
    margin-top: 200px;
  }

}