/*.index-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #e9edf1;
}*/

.index-wrapper {
  position:absolute;
  width:100vw;
  height:450px;   
  overflow: hidden; 
  background-color: #fff;
}

.index-content {
  margin-left: 120px;
  /*width:80%;*/
}

/*.index-title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  color:#5e5e5e;
}

.index-slide {
  min-width: 4000px;
  display: block;
  transform: translateX(0);
  transition: transform .5s; 
}

.index-panel {
  width:100vw; 
  height:450px;
  float:left; 
}



#left{
  background: none;
  border: none;
  outline: 0;
  position:absolute;
  left: 0;
  bottom: 40%;
}
#right{
  background: none;
  border: none;
  outline: 0;
  position:absolute;
  right:0;
  bottom: 40%;
}


#left i, #right i {
  font-size: 70px;
  text-align: center;
  color:#00CCCC;
}*/



/*Postcard*/
.postcard-container {
  /*margin-top: 150px;*/
  position: relative;
  /*background-color: #e9edf1;*/
 /* transform:translateX(8%);*/
}

.postcard-container a {
  text-decoration: none;
}

.card {
  background: #f0f0f0;
  border-radius: 2px;
  display: inline-block;
  height: 100px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
  font-size: 18px;
  color: #095836;
  padding: 20px;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* smartphone 767 */
@media (max-width: 767px) {
  .postcard-container {
    margin-top: 200px;
  }

}