.profiletitle {
	font-size: 24px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	color: #00CCCC;
}

.title {
	margin: 0 0 10px 0;
	font-size: 16px;
	color: #005454;
}

.sidebar-icon {
	width: 150px;
	height: 150px;
}

/*History*/
.profiletitle.sentence {
	color: #005454;
}

.profiletitle.translation {
	color: #FFB77D;
}

.panel-default.sentence {
	border-color: #005454;
}

.panel-heading.sentence {
	background-color: #005454;
	color: #fff;
}

.panel-body.sentence {
	letter-spacing: 1px;
}

.panel-default.translation {
	border-color: #FFB77D;
}

.panel-heading.translation {
	background-color: #FFB77D;
	/*color: #fff;*/
}

.panel-body.translation {
	letter-spacing: 1px;
}


/*Collection*/
.profiletitle.collection {
	color: #ffc70f;
}

.panel-default.collection {
	width: 350px;
	background-color: #ffc70f;
	border-color: #ffc70f;
	font-size: 16px;
	letter-spacing: 1px;
	/*color: #fff;*/
}

.panel-default.collection:hover {
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
	color: #005454;
}

.collection-link {
	color: #000;
}


/*Achievement*/
.profiletitle.achievement {
	margin: 0 0 20px 15px;
}

.achievement-content {
	font-size: 16px;
}

.achievement-content.sentence {
	color: #005454;
}

.achievement-content.translation {
	color: #FFB77D;
}


/*Accounts*/
.input-group.account {
	margin: 0 0 15px 30px;
}

.profilecontent.account {
	/*margin: 0 0 0 45px;*/
}

.modify.profile {
	float: left;
	/*padding: 3px;*/
}

.modify.profile a {
	padding: 7px 10px;
	position: relative;
	margin: 0 0 0 30px;
	background-color: #005454;
}

.modify.profile a:hover {
	opacity: 0.9;
}

.input-group.account span {
	
	padding: 8px;
	border: 1px solid #005454;
	color: #005454;
	font-size: 18px;
	letter-spacing: 1px;
	border-radius: 3px;
}


/*Profile*/
.profile-content {
	/*margin: 0 0 0 30px;*/
}

.progress-bar.exp {
	background-color: #00CCCC;
}

.page-header.profile {
	color: #777777;
}