canvas {
    cursor: crosshair;
    border: 1px solid black;
}

::-webkit-scrollbar { 
    display: none; 
}

#control {
    position: absolute;
    display: block;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    top: 100%;
    width: 100%;
    height: 210px;
    background: #2B2B2B;
    border-top: 1px solid;
    border-color: #000000;
}

.paint-container {
    position: relative;
    width: 90%;
    height: 170px;
    top: 20px;
    margin: auto auto;
}

.heading {
    position: relative;
    font-size: 30px;
    width: 100%;
    color: rgba(238, 238, 238, 0.75);
    font-family: "Sofia", cursive;
    padding-bottom: 5px;
    margin-bottom: 8px;
    border-bottom: 1px dashed rgba(238, 238, 238, 0.1);
}

.subheading {
    position: absolute;
    font-size: 14px;
    top: 16px;
    width: 100%;
    text-align: right;
    color: rgba(238, 238, 238, 0.75);
    font-family: "Sofia", cursive;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

.control-box {
    position: relative;
    display: inline-block;
    width: 44.66%;
    margin-right: 1.33%;
    height: 120px;
}

.control-box.palette {
    width: 36%;
}

.control-box.brush {
    width: 15.33%;
}

.control-header {
    position: relative;
    font-size: 12px;
    width: 100%;
    margin: 5px 0 0 5px;
    color: #eeeeee;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.control-inner {
    position: absolute;
    height: 100px;
    width: 100%;
    margin-top: 3px;
    top: 20px;
    overflow: scroll;
}

.tool,
.tool-thin {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 0px;
    border: 1px solid rgba(238, 238, 238, 0.25);
    background: rgba(238, 238, 238, 0.025);
    cursor: pointer;
}

.tool i,
.tool-thin i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgba(238, 238, 238, 0.75);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.tool h2,
.tool-thin h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #eeeeee;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.tool:hover i,
.tool-thin:hover i {
    -webkit-transform: translate(-50%, -85%);
    transform: translate(-50%, -85%);
}

.tool:hover h2,
.tool-thin:hover h2 {
    -webkit-transform: translate(-50%, 85%);
    transform: translate(-50%, 85%);
    opacity: 1;
}

.tool:focus,
.tool-thin:focus,
.tool.selected,
.selected.tool-thin {
    border: 1px solid rgba(0, 177, 106, 0.25);
    background: rgba(0, 177, 106, 0.025);
}

.tool-thin {
    width: 25px;
    height: 70px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    box-shadow: inset 0 -60px 0 rgba(0, 0, 0, 0.5);
    border: none;
}

.tool-thin:hover,
.tool-thin.selected {
    border: none;
    box-shadow: inset 0 -10px 0 rgba(0, 0, 0, 0.5);
}

/*input[type="text"] {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-left: 5px solid #00b16a;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #eee;
    background: none;
    width: 50%;
    left: 5px;
}

input[type="text"]:focus,
input[type="text"]:hover {
    outline: none;
    border-color: #eee;
}*/

@-webkit-keyframes colors {
    0% {
        color: #00B16A;
    }
    20% {
        color: #1BA39C;
    }
    40% {
        color: #4183D7;
    }
    60% {
        color: #3A539B;
    }
    80% {
        color: #22313F;
    }
    100% {
        color: #00B16A;
    }
}

@keyframes colors {
    0% {
        color: #00B16A;
    }
    20% {
        color: #1BA39C;
    }
    40% {
        color: #4183D7;
    }
    60% {
        color: #3A539B;
    }
    80% {
        color: #22313F;
    }
    100% {
        color: #00B16A;
    }
}

@-webkit-keyframes bgcolors {
    0% {
        background: #22313F;
    }
    20% {
        background: #1F3A93;
    }
    40% {
        background: #26A65B;
    }
    60% {
        background: #4183D7;
    }
    80% {
        background: #4183D7;
    }
    100% {
        background: #22313F;
    }
}

@keyframes bgcolors {
    0% {
        background: #22313F;
    }
    20% {
        background: #1F3A93;
    }
    40% {
        background: #26A65B;
    }
    60% {
        background: #4183D7;
    }
    80% {
        background: #4183D7;
    }
    100% {
        background: #22313F;
    }
}

/*my*/

.overlay {
    background: #d0d0d0;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.FriendsList {
    background: rgba(49, 102, 132, 0.3);
    /*border-right: 1px solid #555;*/
    height: 85%;
    left: 98%;
    padding: 50px;
    position: fixed;
    bottom: 20px;
    transition: all linear .2s;
    width: 20%;
    z-index: 100;
    overflow: scrollbar;
    border-radius: 15px 0 0 15px;
    /*border: 1px solid #000;*/
}

.FriendsList:hover {
    left: 80%;
}

.title.friend {
    /*text-decoration: underline;*/
    margin: 0 0 0 30px;
    font-size: 26px;
    letter-spacing: 1px;
}


/*message*/

.message-contain {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 900;
    overflow: hidden;
    z-index: 1000;
}

.message-username {
    color: white;
    background: black;
    position: absolute;
    height: 40px;
    width: 100%;
    left: 0;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
}

.message-textarea {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    border-top: 1px solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 15px;
    word-spacing: 2px;
    resize: none;
    background-color: #f2f2f2;
}

.message-send {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 20%;
}

.messages {
    position: absolute;
    bottom: 40px;
    /*max-height: calc(100% - 40px);*/
    height: 80%;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    margin-right: 0;
}

.message-box,
.reply-box {
    width: 100%;
    display: block;
    margin: 3px 0px;
}

.message {
    color: white;
    background: #337ab7;
    position: relative;
    margin: 0px 5px;
    display: inline-block;
    word-break: break-all;
    max-width: 100%;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
}

@keyframe push {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.push {
    animation: push 0.3s cubic-bezier(0.49, 1.53, 0.96, 1.03) both;
}

.push2 {
    animation: push 0.3s cubic-bezier(1, 0.51, 0.68, 1.44) both 0.3s;
}

.reply {
    color: white;
    background: #337ab7;
    position: relative;
    margin: 0px 5px;
    display: inline-block;
    word-break: break-all;
    max-width: 100%;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
}

.messages span {
    position: relative;
    display: inline;
    float: right;
    height: 50px;
    width: 30px;
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
    color: #c0392b;
}

.user-profile {
    left: 15%;
}

.friend-name {
    left: 20%;
    text-align: center;
    vertical-align: middle;
}

.achieve-medle {
    height: 20;
    width: 20;
}

.achieve-panel {
    margin: 500px;
    padding: 10px;
}

.intro-img img {
    margin: 5px 5px 5px 5px;
    height: 100px;
    width: 100px;
}

.my-profile {
    left: 25%;
}

#icon-canvas {
    background-color: #e2e2e2;
    /*
    width: 700px;
    height: 700px;
*/
}

/*Canvas*/
#UserMap {
    margin:0 0 0 0;
    border: none;
}

#myIntro {
    position: fixed;
    /*top: 50px;*/
    left: 0;
    background-color: transparent;
    border-radius: 0 20px 20px 0;
    border: 1.5px dotted #316684;
    color: #005454;
    width: 300px;
}

.my-profile {
    position: relative;
    left: 35%;   
}

.intro-img {
    position: relative;
    left: 5%;
}

.intro-img , .my-profile {
    margin: 10px 0 0 0;
}

.map-intro h5 {
    font-size: 18px;
    /*font-weight: bold;*/
    letter-spacing: 1px;
}